{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": true,
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false
  }
